@font-face {
    font-family: 'vazir';
    src: url("../../../public/fonts/vazir.eot") format('eot');
    src : url('../../../public/fonts/vazir.ttf') format('truetype'),
    url('../../../public/fonts/vazir.woff2') format('woff');
}

.each-product{
    width: 100%;
    height: auto;
    font-family: "vazir";
}